.container-div{
width: 100%;
display: flex;
margin: 15px 0;
}

.container-input{
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    border: none;
    flex: 2;
    background-color: #444;
    font-size: 16px;
    color: #eee;
    outline: none;
}
.container-input:focus{
    border: 1px solid aquamarine;
}

.container-button{
    margin-left: 10px;
    flex:1;
}