.container{
  border: 2px solid chartreuse;
  width: 450px;
  height: 500px;
  margin: 0 auto;
  padding: 0 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

}

.container h1{
  color: #eee;
  text-align: center;
}

.out-in{

 transition:  opacity .3s ;
}


.out-out{
  opacity: 0;
  transition:  opacity .3s ;
 }
